.card {
    background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	height: 480px;
}
.container-chat {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left {
   width: 40%;
   text-align: center;
   
}

.right {
  width: 60%;
  background-color: #86BB71;
}

.top {
  position: relative;
  width: 100%;
  padding-bottom: 15px;
  background-color: #86BB71;
} 

.cardHeader {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardBody {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.cardBody input {
 
  border-radius: 3px;
  border: none;
  padding: 10px;
  color: white;
  background: #92b485;
  margin-right: 5px;
  margin-left: 7px;
  font-size: 14px;
  width: 76%;
  
}
.cardBody button {
  width: 20%;
  margin-right: 7px;
  background-color: #65a54c;
  border: none;
  border-radius: 5px;
  color: antiquewhite;
}
.chatrooms {
  background-color: #86BB71;
  height: 100%;
}
.chatroom {
  background: #92b485;
  margin-bottom: 10px;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aliceblue;
}
.chatroom .name {
  width: 60%;
}

.chatroom .name2 {
  width: 40%;
  display: flex;
  flex-direction: row;
}

.chatroom button {
  width: 50px;
  padding: 5px 5px;
  background-color: #65a54c;
  border: none;
  border-radius: 5px;
  color: antiquewhite;
  margin-left: 5px;
}

.cardHeaderChat {
  height: 9%;
  text-align: center;
  background-color: rgb(236, 229, 229);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #65a54c;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.right-chat {
  display: flex;
  flex-direction: column;
}
.chatroomContent {
  height: 365px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgb(236, 229, 229);
  border-radius: 5px;
}
.chatroomActions {
  height:10% ;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgb(236, 229, 229);
  border-radius: 5px;
  display: flex;
}

.chatroomActions input {
  width: 85%;
  margin-left: 5px;
  border: none;
  margin-right: 10px;
  background-color: rgb(236, 229, 229);
}
.chatroomActions button {
  border: none;
  width: 15%;
  background-color: #65a54c;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: antiquewhite;
}


.right-dashboard {
  width: 250px;
  display: flex;
  text-align: right;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: antiquewhite;
}